@button : #276ebb;
@sea : #A1E5F8;
@bandeau : #4b71ad;
@box-shadow : #203843;

@fiche: #276ebb; 
@livre: #ff9734;
@bibliotheque : #518ea5;
@sortie: #42b94a;

/* arrière plan et contexte */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;

}

main {
	background-color: @sea;
	background-image: url(../images/colorful-1974699_1920.png);
	background-size: cover;
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100vh;
	height: 100%;
}

/* en-tête */

header {
	padding: 20px 0;
	position: relative;

	.masque {
		top : -80px;
		left : -50px;
		width: 300px;
		height: 300px;
		opacity: 0.5;
		background-color: white;
		border-radius: 50%;
		position: absolute;
		z-index: 0;
		display: inline-block;
	}

	.logo {
		position : relative;
		top : -20px;
		left : 30px;
		width : 170px;
		display: inline-block;

		img {
			width: 100%;
			position: absolute;
			z-index: 0;
		}

		h1 {
			font-family: Arial;
			color: black;
			z-index: 1;
			position: relative;
		}

	}

	button {
		float: right;
		width: 140px;
		margin-right: 20px;
	}

	button.B1 {
	border : solid 1px white;
	border-radius: 20px;
	color: white;
	background-color: @button;
	padding: 2px 0;
	font-family: Arial;
	text-align: center;
	box-shadow: 10px 8px 8px @box-shadow;
	}

}

/* section principale */

section {

	padding: 80px 50px 0 50px;
	height: auto;
	min-height: 60%;
	position: relative;

	div.menu {

		position: relative;
		justify-content: flex-end;
		display: flex;
		font-family: Arial;

		ul {
			display: flex;
			justify-content: flex-end;
			width: 80%;
			margin: 0;

			li {
				display:inline-block;
				flex-grow: 1;
				padding: 3px 0;
				border-radius: 10px;

				a {
					text-decoration: none;
					color: white;
					width: 100%;
					text-align: center;
					display: inline-block;
				}
			}

			li.fiche {
				background-color: @fiche;
			}

			li.livre {
				background-color: @livre;
			}

			li.bibliotheque {
				background-color: @bibliotheque;
			}

			li.sortie {
				background-color: @sortie;
			}

		}
	}
	
	.content {

		display: flex;
		min-height: 80%;
		height: auto;
		border: solid 2px #19364e;
		border-radius: 10px;

		aside {
			display: inline-block;
			width: 20%;
			background-color: @bibliotheque;
			border-right: solid 4px #c9cbcc;
		}

		div.onglet {
			background-color: @bibliotheque;
			height: auto;
			min-height: 400px;
			padding: 20px 0;
			width: 80%;
			display: inline-block;

			h2 {
				margin: 0 auto;
				font-family: Calibri;
				font-size: 1em;
				font-weight: bold;
			}

			h2.label {
				color: white;
				text-align: right;
				background-color: @bandeau;
				padding: 5px 20px;
				box-shadow: 5px 5px 5px @box-shadow;
				width: 150px;
				display: inline-block;

			}
		}

	}

}
