@yellowblock : #fff8b8;
@gray: #b5aeab;
@blueblock : #d9f1fb;
@bluelabel: #273583;
@bluesky : #0091cb;
@tailleImage: 90px;

// première format de fiche en sortie PDF ou EPub

div.accueil {
    
    background-image: url("../images/page_dacceuil_fond2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0 20px 0;
    
    div.banniere {
        
        padding: 0 20px;
        
        div {
            padding: 20px 0;
            
            h1 {
                font-family: "Segoe Print";
                font-weight: bold;
                font-size: 2.5em;
                margin-bottom: 20px;
            }
            
            p {
                font-weight: bold;
                font-weight: 1.1em;
            }

            img {
                width: 250px;
                display: flex;
                margin: auto;
            }        
            
            col-md-8 {
                padding: 0 30px;
            }
        }
    }
    
    div.etapes {
        
        background-color: #0091cb;
        text-align: center;
        
        span {
            border: solid 3px white;
            border-radius: 50%;
            margin: auto;
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            color: white;
            font-size: 1.2em;
        }
        
        p {
            color: white;
        }
                
        img {
            width: auto;
            height: auto;
            max-width: @tailleImage;
            max-height: @tailleImage;
        }
        
    }
    
    div.button {
        
        button {
            background-color: #0091cb;
            color: white;
        }
        
    }
    
}

div.fiche1 {
    border: solid 1px black;
    
    h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        color: black;
        font-family: "impact", Arial;
        letter-spacing: .2rem;
    }
    
    .row {
        padding: 0;
        
        .story {
            padding: 0;
            
            p {
                margin: 10px 20px;
            }
        }
        
        h2 {
            background: gray;
            color: white;
            font-family: Arial;
            font-weight: bold;
            font-size: 1.2em;
            display: inline-block;
            width: auto;
            padding: 10px 20px;
        }
        
        div.data-block {
            background-color: @yellowblock;
            border: solid 3px black;
            text-align: left;
            padding: 10px;
            vertical-align: middle;
        }
    }
    
    .picture {
        padding: 50px 15%;
        height: 600px;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border: solid 10px black;
        }   
    }
}

// deuxième format de fiche en sortie PDF ou EPub

div.fiche2 {
    padding: 0;
    margin: auto;
    padding-top: 50px;
    border: solid 1px black;
    background-color: @gray;
    position: relative;

    .titre, .footer{
        height: 140px;
        width: 100%;
        padding: 0;
        margin: 0;
        opacity: 0.5;
        position: absolute;

        img {
            padding: 0;
            margin: 0;
            display: inline-block;
            height: 100%;
        }
    }

    .titre {
        top: 50px;
    }

    .footer {
        bottom: 0;
    }

    h1, .blockBleu {
        position: relative;
    }

    h1 {
        text-align: center;
        width: 100%;
        font-size: 3em;
        font-family: "impact", Arial;
        font-weight: bold;
        text-decoration: underline;
        letter-spacing: .2em;
        margin: 50px auto;
        text-shadow: white 2px 2px, white -2px 2px, white -2px -2px, white 2px -2px
    }

    .blockBleu {
        background-color: @blueblock;
        padding: 20px 30px;
        text-align: left;
        margin-bottom: 200px;

        > div.row {
            h2 {
                text-align: left;
                font-size: 1.5em;
                font-family: "impact", Arial;
                font-style: italic;
                text-decoration: underline;
                letter-spacing: .2em;
                margin: 20px 0;
            }

            > p {
                font-family: Arial;
                font-size: 1.2em;
                margin-bottom: 50px;
            }

            .col-md-4, .col-md-8 {
                vertical-align: middle;
            }

            .data-block {
                border: solid 1px @bluelabel;
                color: white;

                p {
                    height: auto;
                    margin: 0;
                    min-height: 20px;
                }

                p:nth-child(2n+1){
                    background-color: @bluelabel;
                }
            }
        }

        img {
            display: inline-block;
            height: 100%;
            width: 100%;
            border: solid 1px black;
        }
    }
}